html, body, div, button
{
    margin  : 0;
    padding : 0;
    border  : 0;
}

html, body
{
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
    background              : #252e33;
    width                   : 100%;
    height                  : 100%;
    font-family             : 'Source Sans Pro', sans-serif;
    font-weight             : 400;
}

.three
{
    position : relative;
    z-index  : 1;
    width    : 100%;
    height   : 100%;
    cursor   : move;
    overflow : hidden;
}

.button-wrapper
{
    position   : absolute;
    width      : 100%;
    top        : 0;
    background : #1c2327;
    height     : 115px;
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
}

@media screen and (max-width : 800px)
{
    .button-wrapper
    {
        height : 95px;
    }
}

button
{
    position      : relative;
    width         : 220px;
    height        : 50px;
    font-size     : 18px;
    left          : 50%;
    z-index       : 2;
    margin        : 30px 0 0 -110px;
    border        : 0;
    background    : #f18260;
    color         : #ffffff;
    cursor        : pointer;
    border-radius : 4px;
    outline       : 0;
    box-shadow    : 0 5px #c56b4f;
}

button:hover
{
    margin-top : 31px;
    box-shadow : 0 4px #c56b4f;
}

button:active
{
    margin-top : 33px;
    box-shadow : 0 2px #c56b4f;
}

@media screen and (max-width : 800px)
{
    button
    {
        margin        : 25px 0 0 -90px;
        width         : 180px;
        height        : 40px;
        font-size     : 16px;
        border-radius : 3px;
        box-shadow    : 0 3px #c56b4f;
    }

    button:hover
    {
        margin-top : 26px;
        box-shadow : 0 2px #c56b4f;
    }

    button:active
    {
        margin-top : 28px;
        box-shadow : 0 0 #c56b4f;
    }
}

.caption
{
    z-index     : 3;
    position    : absolute;
    font-size   : 18px;
    bottom      : 0;
    color       : #808080;
    width       : 100%;
    padding     : 30px 0 30px 0;
    text-align  : center;
    background  : #1c2327;
    line-height : 26px;
}

@media screen and (max-width : 800px)
{
    .caption
    {
        font-size   : 16px;
        line-height : 22px;
        padding     : 25px 0 25px 0;
    }
}

a, a:visited
{
    color           : #c56b4f;
    text-decoration : none;
}

a:hover
{
    text-decoration : underline;
}
p{
  color: white;
}

strong
{
    font-weight : 600;
}
  
  #submit-code {
    background-color: #c56b4f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
  }


  .editor-container {
    width: 80%;
    height: 200px; /* Adjust the height to your desired value */
    margin: 20px auto;
    border: 1px solid #808080;
    border-radius: 4px;
  }
  
  #editor {
    height: 100%;
  }

/* Modify the primrose class */
primrose {
    transition: opacity 0.3s; /* Add this line */
    margin-top: 115px;
    opacity: 1 !important;
    position: absolute; /* Add this line */
    width: 100%; /* Add this line */
    height: calc(100% - 115px); /* Add this line */
    z-index: -1; /* Add this line */
  
  }  

  button.generate {
    margin-right: 10px;
  }
  
  button.toggle-editor {
    margin-left: 10px;
  }

  button.reopen-feedback {
    margin-left: 20px;
  }

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 0;
    width: 100%;
    height: 75%;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #888;
    border-radius: 4px;
    max-width: 800px;
    margin-top: 150px;
    margin-left: -40%; /* Add this line (negative half of the width percentage) */

  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 75%;
    padding: 40px;
    box-sizing: border-box; /* Add this line so padding is included in the width and height */
    overflow-y: auto;
}
  
  .close {
    position: absolute;
    color: white;
    float: right;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }


  .loading-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }